.deps/
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
compile
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
missing
stamp-h1
.libs/
*.lo
*.o
pifo-reference

# Test-related
test-driver
tests/pifo_tests
tests/pifo_tests.log
tests/pifo_tests.trs
tests/test-suite.log
third_party/gtest/libgtest.la
